A.pdf
Anleitung_240.pdf
Heissleiter.pdf
Metall.pdf
e.pdf
f.pdf
g.pdf
physik212-240-Martin.aux
physik212-240-Martin.fdb_latexmk
physik212-240-Martin.log
physik212-240-Martin.out
physik212-240-Martin.pdf
physik212-240-Martin.toc
