Anleitung_249.pdf

cunningham.eps

cunningham.pdf

fadenstrahl.eps

fadenstrahl.pdf

luft.eps

luft.pdf

physik212-249-Martin.aux

physik212-249-Martin.fdb_latexmk

physik212-249-Martin.log

physik212-249-Martin.out

physik212-249-Martin.pdf

physik212-249-Martin.toc

Abweichung-Literaturwert.nb
Abweichung-Literaturwert.nb.pdf
Aufbau_Fadenstrahlrohr.xoj.pdf
Aufbau_Millikanversuch.xoj.pdf
GCD.pdf
aufsteigend.xoj.pdf
ausgabe.pdf
ausgabe.txt
cunningham-gnuplot.pdf
cunningham.txt
faden.csv
fallend.xoj.pdf
fit.log
missfont.log
physik212-249-Martin.bbl
physik212-249-Martin.blg
plot_data
